

body {
    height: 100vh;

    background-color: var(--color-background);
    color: var(--font-color);
    text-shadow: var(--text-shadow);

    font-family: $secondary__font;
    font-size: 21px;
}

.form-select {
    color: var(--font-color);
    margin: 1rem 0 2rem auto;
    background-image: url(assets/images/arrow-down.svg);
    background-size: 25px 25px;

    &:focus {
        box-shadow: var(--box-shadow);
    }

    &:hover {
        box-shadow: var(--box-inset);
    }

}

// To add red shadow to select buttons
.error-shadow {
    box-shadow: var(--error)!important;
}


input[type="checkbox"]{
    display: none;
}




