

// Theme Toggle



/* .theme__toggle--btn input[type=checkbox] + label {
    display: inline-block;
    border-radius: 10px;
    &:focus {
        box-shadow: var(--box-shadow);
    }

    &:hover {
        box-shadow: var(--box-inset);
        background-color: var(--theme-color);
    }
}
 */



.theme__toggle--btn input[type="checkbox"] {

    position: absolute;
    opacity: 0;
    z-index: -2;

    &+label {

        display: inline-block;
        border-radius: 10px;
        @include element-shadow(var(--box-shadow), $border-radius);


    }

    &+label::before {

        content: url(assets/images/toggle/light-mode.svg);

        //@include element-shadow(var(--box-shadow), $border-radius);


        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 33px;
        text-align: center;
        line-height: 51px;




    }

    &:checked+label::before {

        content: url(assets/images/toggle/dark-mode.svg);

        background: var(--theme-color);
        @include element-shadow(var(--box-shadow), $border-radius);

    }



}
