

// Fonts Style
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    /* margin-bottom: 0.5rem; */
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

body {
    height: 100vh;
    background-color: $color__theme;
    color: $color__text--dark;
    font-family: $secondary__font;
    box-shadow: inset rgba(104, 139, 255, 0.1) 0px 48px 100px 0px, inset rgba(17, 12, 46, 0.15) 0px 30px 100px 0px;
}