
// Mixin to add shadow to element / elevated it
@mixin element-shadow($shadow, $border-radius) {
    box-shadow: $shadow;
    border-radius: $border-radius;
}

// Mixin button pressed
@mixin element--presed() {
  
}

// Mixin to align elements in middle and direction them to column
@mixin column-align--middle() {
  display: flex!important;
  flex-direction: column!important;
  align-content: space-around!important;
  justify-content: center!important;
}