

// Reset and set


/* Add top margin / 0.5rem bottom margin is default */
h1,h2,h3,h4,h5,h6 {
    margin: 0.5rem 0rem;
}


// Check mobile orientation
@media screen and (orientation:portrait) {
    .home-container__item-container {
        width: 80%;
    }
}

