html[data-theme="light"] {
    --color-background: #{$theme-light};
    --font-color: #{$font-dark};
    --text-shadow: #{$text-shadow-light};
    --box-shadow: #{$box-shadow-light};
    --box-inset: #{$box-inset-light};
    --error: #{$error-shadow};
};


html[data-theme="dark"] {
    --color-background: #{$theme-dark};
    --font-color: #{$font-light};
    --text-shadow: #{$text-shadow-dark};
    --box-shadow: #{$box-shadow-dark};
    --box-inset: #{$box-inset-dark};
    --error: #{$error-shadow};
};