/* Add top margin / 0.5rem bottom margin is default */
h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 0rem;
}

@media screen and (orientation: portrait) {
  .home-container__item-container {
    width: 80%;
  }
}
/* $button-pressed--light
$button-pressed--dark */
/* $button-normal--light
$button-normal--dark

$button-pressed--light
$button-pressed--dark

$button-hover--light
$button-hover--dark

$button-focused */
html[data-theme=light] {
  --color-background: #ececec;
  --font-color: #343434;
  --text-shadow: 0 1px 0 #fff;
  --box-shadow: inset #fff 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px;
  --box-inset: #fff 0 1px 0, inset rgba(0, 0, 0, 0.5) 0 1px 3px 0px;
  --error: inset #585757 0 0 0, rgba(255, 0, 0, 0.8) 0 1px 10px 0px;
}

html[data-theme=dark] {
  --color-background: #2f2f2f;
  --font-color: #fff;
  --text-shadow: 0 1px 0 #000;
  --box-shadow: inset #585757 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 3px 0px;
  --box-inset: #585757 0 1px 0, inset rgba(0, 0, 0, 0.8) 0 1px 3px 0px;
  --error: inset #585757 0 0 0, rgba(255, 0, 0, 0.8) 0 1px 10px 0px;
}

body {
  height: 100vh;
  background-color: var(--color-background);
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.form-select {
  color: var(--font-color);
  margin: 1rem 0 2rem auto;
  background-size: 25px 25px;
}
.form-select:focus {
  box-shadow: var(--box-shadow);
}
.form-select:hover {
  box-shadow: var(--box-inset);
}

.error-shadow {
  box-shadow: var(--error) !important;
}

input[type=checkbox] {
  display: none;
}

.navbar > .container-fluid {
  width: 90%;
  border-bottom: 5px solid #bbb;
  box-shadow: white 0 1px 0;
}

.navbar {
  height: 5rem;
  width: 100%;
  padding: 0px;
}
.navbar__brand {
  vertical-align: sub;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: var(--font-color);
}
.navbar__logo--image {
  height: 3.5rem;
  width: 3.5rem;
}

.home {
  width: 100%;
  height: calc(100% - 10rem);
}

.home-container__item-container {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin: 1rem;
}

.home-container {
  height: 100% !important;
  align-content: space-evenly !important;
  align-items: center !important;
  justify-content: center !important;
}
.home-container__item {
  text-align: center;
}
.home-container__item--header {
  font-family: "Abril Fatface", cursive;
}
.home-container__item--select {
  justify-content: center;
}
.home-container__item--select-form {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  background-color: var(--color-background);
  border: none;
  letter-spacing: 1px;
}
.home-container__item--button {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 0.7rem 0.95rem;
  border: none;
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-container__item--button:focus {
  box-shadow: var(--box-shadow);
}
.home-container__item--button:hover {
  box-shadow: var(--box-inset);
  background-color: #292929;
}

.footer {
  height: 4rem;
  width: 70%;
  position: fixed;
  left: 15%;
  bottom: 0;
  padding: 0px 10px 0px 10px;
  border-top: 1.8px solid #fff;
  box-shadow: #bbb 0px -5px 0px 0px;
}

.result {
  display: flex !important;
  flex-direction: column !important;
  align-content: space-around !important;
  justify-content: center !important;
}
.result__item {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.result__item--header {
  margin-top: 0.5rem;
  font-family: "Abril Fatface", cursive;
}
.result__item--date {
  color: red;
}
.result__button {
  text-align: center;
  margin-top: 3rem;
}
.result__button--new-date {
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 0.7rem 0.95rem;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.result__button--new-date:focus {
  box-shadow: var(--box-shadow);
}
.result__button--new-date:hover {
  box-shadow: var(--box-inset);
  background-color: #292929;
}

/* .theme__toggle--btn input[type=checkbox] + label {
    display: inline-block;
    border-radius: 10px;
    &:focus {
        box-shadow: var(--box-shadow);
    }

    &:hover {
        box-shadow: var(--box-inset);
        background-color: var(--theme-color);
    }
}
 */
.theme__toggle--btn input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}
.theme__toggle--btn input[type=checkbox] + label {
  display: inline-block;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.theme__toggle--btn input[type=checkbox] + label::before {
  content: url(assets/images/toggle/light-mode.svg);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 33px;
  text-align: center;
  line-height: 51px;
}
.theme__toggle--btn input[type=checkbox]:checked + label::before {
  content: url(assets/images/toggle/dark-mode.svg);
  background: var(--theme-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */