

// Content



// Content section width and height
.content {
    width: 100%;
    height: calc(100% - 10rem);
}

.content-container {
    height: 100%!important;

    align-content: space-evenly!important;
    align-items: center!important;

    justify-content: center!important;


    &__item {
        text-align: center;


        &--header {
            font-family: $primary__font;
        }


        &--select {
            justify-content: center;
        }


        &--select-form {
            @include drop-shadow;

            margin: 1rem auto;

            background-color: $color__theme;
            border: none;

            letter-spacing: 1px;

        }


        &--button {  
            @include drop-shadow;

            margin-bottom: 1rem;
            padding: 0.7rem 0.95rem;

            border: none;

            color: #4a4b51ed;
            
            font-family: $secondary__font;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;       
        }
    } 
    
}