

// Footer


.footer {
    height: 4rem;
    width: 70%;
    position: fixed;
    left: 15%;
    bottom: 0;
    padding: 0px 10px 0px 10px;
    border-top: 1.8px solid #fff;
    box-shadow: #bbb 0px -5px 0px 0px;

}


