

// Navbar


.result {

    @include column-align--middle();

    &__item {
        
        @include element-shadow(var(--box-shadow), $border-radius);

        &--header {
            margin-top: 0.5rem;
            font-family: $primary__font;
        }

        &--date {
            color: red;
        }
    }  
    
    &__button {
        text-align: center;
        margin-top: 3rem;

        &--new-date {
            
            @include element-shadow(var(--box-shadow), $border-radius);

            margin-bottom: 1rem;
            padding: 0.7rem 0.95rem;
            border: none;
            color: $white;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;

            &:focus {
                box-shadow: var(--box-shadow);
            }
        
            &:hover {
                box-shadow: var(--box-inset);
                background-color: $gray-400;
            }
        }
    }                    
}
